\#*
session.*
*~
el-get/
elpa/
ac-comphist.dat
firstrun
eshell/
.python-environments/
/.mc-lists.el
/ede-projects.el
/ido.last
/places
/recentf
request/
/smex-items
url/
/tramp
node_modules/
__pycache__/
__pycache__/
*.pyc
elpa-bkp/
transient/
tutorial/
/.lsp-session-v1
/.#session.10723028509c9364b6161469463927550100000065940113
/.cache/
/.dap-breakpoints
/emojis/
/package-lock.json
/projects
