((prog-mode . ((pdj:project-directory . "{{PROJECT-DIRECTORY}}")))
 (python-mode . ((pdj:venv-name . "{{VENV-NAME}}")
		 (pdj:test-command . "{{TEST-COMMAND}}")
		 (pdj:coverage-command . "{{COVERAGE-COMMAND}}")
		 (pdj:py-autopep8 . "{{PY-AUTOPEP8}}"))))
