((prog-mode . ((pdj:project-directory . "{{PROJECT-DIRECTORY}}")
	       (pdj:custom-commands . "{{CUSTOM-COMMANDS}}")))
 (python-mode . ((pdj:venv-name . "{{VENV-NAME}}")
		 (pdj:test-command . "{{TEST-COMMAND}}")
		 (pdj:test-suite-prefix . "{{TEST-SUITE-PREFIX}}")
		 (pdj:coverage-command . "{{COVERAGE-COMMAND}}")
		 (pdj:py-autopep8 . "{{PY-AUTOPEP8}}")))
 (conf-toml-mode . ((pdj:venv-name . "{{VENV-NAME}}")
		 (pdj:test-command . "{{TEST-COMMAND}}")
		 (pdj:project-directory . "{{PROJECT-DIRECTORY}}")
		 (pdj:custom-commands . "{{CUSTOM-COMMANDS}}")
		 (pdj:test-suite-prefix . "{{TEST-SUITE-PREFIX}}")
		 (pdj:coverage-command . "{{COVERAGE-COMMAND}}"))))
